.power-inputs {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
}
body {
    text-align: center;
    background-color: rgb(212, 121, 85);
}

ul {
    list-style-type: none;
}

#pwr-graph {
    font-size:  75px;
    border-width: 5px;
    border-color: black;
    border-style: ridge;
    border-radius: 3%;
    
}

.container {
    display: grid;
    grid-template-columns: 40fr 1fr 40fr;

}

.power-inputs {
    
}

table, th, td {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(25, 21, 25);
}

.table-top {
    background-color: rgb(81, 123, 159);
    color: rgb(249, 234, 224);
}

.gradient {
}
