.power-inputs {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
}
body {
    text-align: center;
    background-color: rgb(228, 147, 88);
}

ul {
    list-style-type: none;
}

#pwr-graph {
    font-size:  75px;
    border-width: 5px;
    border-color: black;
    border-style: ridge;
    border-radius: 3%;
    
}

.container {
    display: grid;
    grid-template-columns: 40fr 1fr 40fr;

}

.power-inputs {
    
}

