html {
    height: 100%;
}

.power-inputs {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
}
body {
    text-align: center;
    
    background-image: linear-gradient(rgb(212, 121, 85),#542505);
    background-repeat: no-repeat;
    background: cover;
    
    font-size: 1rem;
    letter-spacing: .1rem;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
}

#pwr-graph {
    font-size:  75px;
    border-width: 5px;
    border-color: black;
    border-style: ridge;
    border-radius: 3%;
    width: 600px;
    height: 300px;
    max-width: 600px;
    max-height: 300px;
}

button {
    display: inline-block;
    padding: .75rem ;
    border-radius: 0.3rem;
    background-color: rgb(81, 123, 159);
    color: rgb(249, 234, 224);;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
canvas {
    grid-column-start: 2;
    grid-column-end: 3;
}
img {
    width: 600px;
    height: 290px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.power-inputs {
    grid-column-start: 3;
    grid-column-end: 4;
}


.search-section, #load {
    margin: 45px;
}

table, td {
    table-layout: fixed;
    width: 75%;
    border-collapse: collapse;
    border: 3px solid rgb(25, 21, 25);
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(215, 208, 203);
}

th {
    border: 1px solid rgb(41, 62, 79);
}

.table-top {
    background-color: rgb(81, 123, 159);
    color: rgb(249, 234, 224);
}

.gradient {
}

a {
    text-decoration: none;
}

h1 {
    color: rgb(249, 234, 224);
    background-color: rgb(81, 123, 159);
}



button:hover {
    background-color: rgb(234, 165, 137);
}

input {
    border-radius: 0.3rem;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: .15rem;
    padding: .60rem ;
}

#loadProgress {
    width: 100%;
    border-radius: 0.3rem;
    max-width: 50%;
    display: block;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right: auto;
    bottom: 3%;
  }
  
  #loadBar {
    width: 1%;
    height: 30px;
    border-radius: 0.3rem;
    max-width: 50%;
    display: block;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right: auto;
    position:absolute;
    justify-content: center;
  }

  #fakeButton {
    display: inline-block;
    padding: .75rem ;
    border-radius: 0.3rem;
    color: rgb(81, 123, 159);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
  }

  #fakeButton:hover {
    background-color: rgb(234, 165, 137);
}